# Entornos virtuales
.venv/
venv/
env/

# Coverage
.coverage
htmlcov/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de entorno
.env

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Logs
*.log

# Spark / Hadoop temporales
metastore_db/
spark-warehouse/

# Archivos temporales
*.tmp
*.swp

# Distribución / builds
build/
dist/
*.egg-info/

# Datos (opcional, si no quieres subir datasets)
data/
